//マップ：複数の設定をまとめたもの
$breakpoints:(
    sp:'screen and (max-width:599px)',
    tab:'screen and (max-width:1024px)',
    pc:'screen and (min-width:1025px)'
);

//mq（サイズ指定）でメディアクエリを呼び出せるように設定
@mixin mq($size){
    @media #{map-get($breakpoints, $size)}{
        @content;
    }
}

