@use "variables" as *;
@use "mixin" as *;

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    &-overlay{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-color: rgba($color: $mainColor1, $alpha: .15);
    }
    &-container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 400px;
        width: 300px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0px 2px 3px rgba($color: #fff, $alpha: .3);

        .fa-xmark{
            position: absolute;
            top: 16px;
            right: 16px;
            color: $mainColor1;
            font-size: 16px;
        }
    }

    .nav{
        &-menu{
            margin-bottom: 48px;
        }
        }
}