
// Color Variables
$baseColor1:#FFFFFF;
$baseColor2:#E2DDD1;
$mainColor1:#6E551B;
$mainColor2:#3C2F10;
$accentColor:#23460F;
$textColor1:#333333;
$textColor2:#FFFFFF;   
$overlay1: rgba(#3C2F10,0.3); 
$overlay2: rgba(#FFFFFF,0.85);

// Font Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";